---
- name: Initialize database
  ansible.builtin.include_role:
    name: common
    tasks_from: init_database
  vars:
    db_name: cinder
    db_user: cinder
    db_password: "{{ cinder_password }}"

- name: Install Cinder package
  ansible.builtin.package:
    name:
      - cinder-api
      - cinder-scheduler
    state: present

- name: Configure service
  ansible.builtin.include_tasks:
    file: configure_service.yml

- name: Set facts
  ansible.builtin.set_fact:
    mgmtnet_ip_address: "{{ node.mgmtnet_ip_address }}"
  vars:
    node: "{{ lookup('ansible.builtin.vars', ansible_facts['hostname']) }}"

- name: Setup configuration
  ansible.builtin.include_role:
    name: cinder
    tasks_from: main

- name: Populate the cinder database
  ansible.builtin.command:
    cmd: sudo -u cinder cinder-manage db sync
  changed_when: false

- name: Start and enable Nova API
  ansible.builtin.service:
    name: nova-api
    state: restarted
    enabled: true

- name: Start and enable Cinder scheduler
  ansible.builtin.service:
    name: cinder-scheduler
    state: restarted
    enabled: true

- name: Start and enable Apache2
  ansible.builtin.service:
    name: apache2
    state: restarted
    enabled: true
