#!/bin/bash

java -jar {{ jenkins_runner_install_dir }}/{{ jenkins_runner_jar | basename }} \
-url {{ jenkins_url }} -secret {{ jenkins_runner_agent_token }} \
-name "{{ cicd_list.runner01.name }}" -webSocket -workDir "{{ runner_workspace_dir }}"