input {
  beats {
    port => {{ logstash_beat_port }}
  }
}

output {
  opensearch {
    hosts => ["http://{{ controller01.mgmtnet_ip_address }}:{{ os_api_port }}"]
    index => "openstack-{{ inventory_hostname }}-%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
  }
}