[DEFAULT]
log_dir = /var/log/nova
lock_path = /var/lock/nova
state_path = /var/lib/nova
transport_url = {{ transport_url }}
my_ip = {{ mgmtnet_ip_address }}
#
# Availability zone for internal services. For more information, refer to the