[placement]
region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ controller01_host_addr }}:5000/v3
username = placement
password = {{ os_placement_password }}
#
# From nova.conf