# Local development environment.
#
# Copy this file to `.env` if you want to override the default values.

# Local OpenStack Lab.
# OS_PASSWORD is intentionally blank. Set it only in your private local env.
OS_AUTH_URL=http://192.168.121.5:5000/v3
OS_IDENTITY_API_VERSION=3
OS_INTERFACE=public
OS_REGION_NAME=RegionOne
OS_PROJECT_NAME=admin
OS_USERNAME=admin
OS_PASSWORD=
OS_DOMAIN_NAME=Default
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_NAME=Default
