---
- name: Set facts
  ansible.builtin.set_fact:
    mgmtnet_ip_address: "{{ node.mgmtnet_ip_address }}"
  vars:
    node: "{{ lookup('ansible.builtin.vars', ansible_facts['hostname']) }}"

- name: Install Logstash
  ansible.builtin.include_tasks:
    file: install.yml
  vars:
    download_url: "{{ logstash_download_url }}/logstash-{{ logstash_version }}-linux-x86_64.tar.gz"
    download_to_path: /tmp/logstash.tar.gz
    file_owner: "{{ ansible_user }}"
    home_path: "{{ logstash_home }}"
    specific_task_file: logstash.yml
    config_file: logstash.conf
    service_file: logstash.service

- name: Install Filebeat
  ansible.builtin.include_tasks:
    file: install.yml
  vars:
    download_url: "{{ filebeat_download_url }}/filebeat-oss-{{ filebeat_version }}-linux-x86_64.tar.gz"
    download_to_path: /tmp/filebeat.tar.gz
    home_path: "{{ filebeat_home }}"
    config_file: filebeat.yml
    service_file: filebeat.service

- name: Start services
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    enabled: true
    state: restarted
    daemon_reload: true
  loop:
    - logstash
    - filebeat
