CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.PyMemcacheCache',
        'LOCATION': '{{ controller01.mgmtnet_ip_address }}:11211',
    },
}

# If you use ``tox -e runserver`` for developments,then configure
# SESSION_ENGINE to django.contrib.sessions.backends.signed_cookies
# as shown below:
SESSION_ENGINE = 'django.contrib.sessions.backends.cache'
#
#
# Send email to the console by default