---
- name: Initialize database
  ansible.builtin.include_role:
    name: common
    tasks_from: init_database
  vars:
    db_name: placement
    db_user: placement
    db_password: "{{ placement_password }}"

- name: Configure service
  ansible.builtin.include_tasks:
    file: configure_service.yml

- name: Install Placement package
  ansible.builtin.package:
    name: placement-api
    state: present

- name: Setup configuration
  ansible.builtin.include_tasks:
    file: configure.yml

- name: Populate the placement database
  ansible.builtin.command:
    cmd: sudo -u placement placement-manage db sync
  changed_when: false

- name: Start and enable Apache2
  ansible.builtin.service:
    name: apache2
    state: restarted
    enabled: true
