OS_USERNAME=admin
OS_PASSWORD={{ os_keystone_password }}
OS_PROJECT_NAME=admin
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_NAME=Default
OS_AUTH_URL=http://{{ controller01_host_addr }}:5000/v3
OS_IDENTITY_API_VERSION=3