---
apiVersion: 1

datasources:
  - name: OpenSearch
    type: grafana-opensearch-datasource
    url: https://{{ controller01.mgmtnet_ip_address }}:{{ opensearch_api_port }}
    isDefault: false
    editable: false
    basicAuth: true
    basicAuthUser: {{ opensearch_admin_user }}

    jsonData:
      database: openstack-*
      timeField: "@timestamp"
      version: {{ opensearch_version }}
      tlsSkipVerify: true

    secureJsonData:
      basicAuthPassword: {{ opensearch_admin_password }}

