---
- name: Initialize database
  ansible.builtin.shell:
    cmd: |
      mysql -u root <<EOF
      CREATE DATABASE IF NOT EXISTS {{ db_name }};
      CREATE USER IF NOT EXISTS '{{ db_user }}'@'localhost' IDENTIFIED BY '{{ db_password }}';
      GRANT ALL PRIVILEGES ON {{ db_name }}.* TO '{{ db_user }}'@'localhost';
      CREATE USER IF NOT EXISTS '{{ db_user }}'@'%' IDENTIFIED BY '{{ db_password }}';
      GRANT ALL PRIVILEGES ON {{ db_name }}.* TO '{{ db_user }}'@'%';
      FLUSH PRIVILEGES;
      EOF
    executable: /bin/bash
  changed_when: false
