credentials:
  system:
    domainCredentials:
      - domain:
          name: "gitlab"
          description: "GitLab Private Server token"
        credentials:
          - string:
              scope: GLOBAL
              id: "{{ gitlab_api_token_var }}"
              secret: "{{ gitlab_root_token }}"
              description: "GitLab Private Server API Token"