import jenkins.model.*
import hudson.model.*
import java.util.logging.Logger

def instance = Jenkins.getInstance()
def pluginManager = instance.pluginManager
def updateCenter = instance.updateCenter
def logger = Logger.getLogger("")

def plugins = {{ jenkins_plugins }}
def installed = false

logger.info("Checking for plugin updates...")

plugins.each {
    if (!pluginManager.getPlugin(it)) {
        logger.info("Installing plugin: ${it}")
        def plugin = updateCenter.getPlugin(it)
        if (plugin) {
            plugin.deploy()
            installed = true
        } else {
            logger.warning("Plugin not found: ${it}")
        }
    } else {
        logger.info("Plugin already installed: ${it}")
    }
}


if (installed) {
    logger.info("Plugins installed. Jenkins will restart to apply changes.")
    instance.save()
    instance.safeRestart()
} else {
    logger.info("No new plugins installed. No restart needed.")
}
