[libvirt]
images_type = rbd
images_rbd_pool = volumes
images_rbd_ceph_conf = /etc/ceph/ceph.conf
rbd_user = cinder
rbd_secret_uuid = {{ libvirt_secret_uuid }}
#
# Libvirt options allows cloud administrator to configure related