[keystone_authtoken]
www_authenticate_uri = http://{{ controller01_host_addr }}:5000
auth_url = http://{{ controller01_host_addr }}:5000
memcached_servers = {{ controller01.mgmtnet_ip_address }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{ os_glance_password }}
#
# From keystonemiddleware.auth_token