[oslo_limit]
auth_url = http://{{ controller01_host_addr }}:5000
auth_type = password
user_domain_id = default
username = glance
system_scope = all
password = {{ os_glance_password }}
endpoint_id = {{ endpoint_id }}
region_name = RegionOne
#
# From oslo.limit