---
ansible_connection: ssh
ansible_ssh_common_args: -o "UserKnownHostsFile=/dev/null" -o StrictHostKeyChecking=no -o "PubkeyAuthentication=no"

use_hostname: false
controller01_host_addr: "{{ use_hostname | ternary(controller01.hostname, controller01.mgmtnet_ip_address) }}"
compute01_host_addr: "{{ use_hostname | ternary(compute01.hostname, compute01.mgmtnet_ip_address) }}"
storage01_host_addr: "{{ use_hostname | ternary(storage01.hostname, storage01.mgmtnet_ip_address) }}"
