---
- name: Initialize database
  ansible.builtin.include_role:
    name: common
    tasks_from: init_database
  vars:
    db_name: glance
    db_user: glance
    db_password: "{{ glance_password }}"

- name: Configure Glance service
  ansible.builtin.include_role:
    name: common
    tasks_from: configure_service
  vars:
    component: glance
    os_component_password: "{{ os_glance_password }}"
    user_roles:
      - admin
    service_name: image
    service_description: OpenStack Image
    endpoint_url: http://{{ controller01_host_addr }}:9292

- name: Install Glance package
  ansible.builtin.package:
    name: glance
    state: present

- name: Setup configuration
  ansible.builtin.include_tasks:
    file: configure.yml

- name: Populate the image service database
  ansible.builtin.command:
    cmd: sudo -u glance glance-manage db_sync
  changed_when: false

- name: Start and enable Glance API
  ansible.builtin.service:
    name: glance-api
    state: restarted
    enabled: true
